@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");

html {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-accent-color: #f7e5b5;
    --main-color: #faedcd;
    --secordary-color: #edf6f9;
    --black-color: #000000;
    --pink-color: #ff8fab;
    --blue-color: #00b2ca;
    --purple-color: #943dda;
}
