.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardContainer {
  display: grid;
  gap: 1.8em;
  margin-top: 1.5em;
}

.titulo {
  margin-top: -2.1em;
}

.descripcion {
  width: 90%;
  margin-top: 0.15em;
}

/* Tablets y dispositivos grandes */
@media (min-width: 768px) {
}
/* PC Portatil */
@media (min-width: 992px) {
}

/* PC Escritorio */
@media (min-width: 1200px) {
}
