.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo {
  margin-top: -2.2em;
}

.descripcion {
  width: 90%;
}

/* Tablets y dispositivos grandes */
@media (min-width: 768px) {
}
/* PC Portatil */
@media (min-width: 992px) {
}

/* PC Escritorio */
@media (min-width: 1200px) {
}
