@keyframes border {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.titulo {
  margin-top: -1.9em;
  text-align: center;
  line-height: 1.15em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subrayado {
  display: inline-block;
  position: relative;
}

.subrayado::after {
  content: "";
  width: 0px;
  display: block;
  height: 0.47em;
  margin-top: -0.42em;
  background: var(--green-color);
  -webkit-animation-name: border;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: border;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.descripcion {
  margin-top: 1.3em;
  padding: 0 1em;
  text-align: center;
}

.heroImage {
  margin-top: 2em;
  width: 75%;
  margin-left: 0.5em;
}

.botonTutoriales {
  cursor: pointer;
  background-color: var(--pink-color);
  font-size: 1.6em;
  font-weight: 700;
  padding: 0.6em 0.9em;
  margin-top: 1.1em;
  box-shadow: 0.15em 0.15em var(--black-color);
  border: var(--black-color) 0.2em solid;
}
