.navbar {
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 5;
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
}
.menuList {
  list-style-type: none;
}
.menuList li {
  float: left;
}
/* Tablets y dispositivos grandes */
@media (min-width: 768px) {
  .navbar {
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 5;
    width: 100%;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  .titulo {
    margin-top: 0.5em;
  }

  .menuList {
    list-style-type: none;
  }

  .menuList li {
    float: left;
  }
}

/* PC Portatil */
@media (min-width: 992px) {
}

/* PC Escritorio */
@media (min-width: 1200px) {
}
