.container {
  margin-bottom: 1.8em;
  position: relative;
  background-color: var(--secondary-color);
  width: 80%;
  height: 9.5em;
  text-align: left;
  border: var(--black-color) 0.3em solid;
  box-shadow: 0.4em 0.4em var(--black-color);
  border-radius: 0.5em;
}

.container:hover {
  background-color: aqua;
}

.titulo {
  margin: 0;
  padding: 0.5em 0.3em;
  font-size: 1.2em;
}

.descripcion {
  padding: 0.5em 0.3em;
  font-size: 1em;
}

.tiempo {
  font-size: 0.8em;
  padding: 0.5em 0.4em;
}
