.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.titulo {
    margin-top: 1.4em;
    font-size: 2.7em;
    z-index: 1;
}
.cardContainer {
    display: grid;
    gap: 1.8em;
    width: 75%;
    margin-bottom: 1.8em;
}

.descripcion {
    margin-top: 0.6em;
    padding: 0 1em;
    margin-bottom: 1em;
    z-index: 1;
}

.blob1 {
    position: absolute;
    z-index: 0;
    left: 1em;
    top: 61.2em;
}

/* Tablets y dispositivos grandes */
@media (min-width: 768px) {
}
/* PC Portatil */
@media (min-width: 992px) {
}

/* PC Escritorio */
@media (min-width: 1200px) {
}
