.container {
  margin-bottom: 1.8em;
  position: relative;
  background-color: var(--secondary-color);
  width: 73%;
  height: 12em;
  text-align: left;
  border: var(--black-color) 0.3em solid;
  box-shadow: 0.4em 0.4em var(--black-color);
  border-radius: 0.5em;
}

.container:hover {
  background-color: aqua;
}

.titulo {
  font-size: 1.3em;
}

.descripcion {
  font-size: 1em;
  width: 90%;
  width: calc(100% - 1em);
}

.tiempo {
  font-size: 0.8em;
}
